* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 300vh;
  background-color: #ececec;
}
.top-bar {
  width: 80vw;
  margin: 0 10vw 0 10vw;
  background-color: #ea9320;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.top-bar ul {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 0.8fr 0.8fr 0.8fr 1.5fr 1fr 1fr 1fr;
}
.top-bar li {
  list-style: none;
}
.top-bar li a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: white;
  display: inline;
}
header {
  width: 60vw;
  margin: 0 20vw 0 20vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 5vh 0 2vh 0;
}
header div a {
  text-decoration: none;
  color: black;
}

.nav-bar {
  width: 60vw;
  margin: 0 20vw 0 20vw;
  background-color: #098cc4;
  text-align: center;
}
.nav-bar ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr 1fr 1fr 1fr 1.5fr;
}
.nav-bar li {
  list-style: none;
  padding: 10px;
  border-right: 1px solid white;
}
.nav-bar li a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: white;
  display: inline;
}

marquee {
  height: 20px;
  width: 60vw;
  margin: 0 20vw 0 20vw;
}
marquee div {
  color: red;
  font-family: "Raleway";
  font-size: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 0px;
}
marquee div a {
  text-decoration: none;
  color: red;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  width: 60vw;
  margin: 0 20vw 0 20vw;
  grid-gap: 5mm;
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  background-image: url("../Assets/Images/engifest.jpg");
  background-size: 100% auto;
  height: auto;
  background-repeat: no-repeat;
  position: relative;
}
.box1 img {
  visibility: hidden;
  width: 100%;
}
.box1 div {
  position: absolute;
  bottom: 0;
  color: whitesmoke;
  background-color: rgba(1, 1, 1, 0.4);
  width: 100%;
  height: 5vh;
}
.box1 div h3 {
  position: absolute;
  left: 5%;
  font-family: "Raleway";
}
.box2 {
  grid-column-start: 4;
  grid-column-end: 7;
  background-color: #7bae37;
  overflow: hidden;
}
.box2 h4 {
  text-align: center;
  padding: 3vh 0 3vh 0;
  color: white;
  font-family: "Raleway";
  justify-self: center;
  align-self: center;
  border-bottom: 3px solid white;
  background-color: #6b9830;
}
.updates {
  margin: 0;
  color: White;
  height: 160px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  font-size: 14px;
}
.updates a {
  text-decoration: none;
  color: white;
  font-family: "Raleway";
  font-size: 12px;
}
.box3 {
  grid-column-start: 1;
  grid-column-end: 5;
}
.box3-header {
  background-color: #ececec;
  width: 100%;
  height: 3%;
}
.box3-header ul {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 0.8fr 0.8fr 2fr 1.5fr 0.8fr;
  text-align: center;

  height: 100%;
}
.box3-header li {
  list-style-type: none;
  padding-top: 1vh;
}
.box3-header li a {
  text-decoration: none;
  color: white;
  font-family: "Raleway";
  font-size: 12px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
#link1 {
  background-color: white;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}
#link1 a {
  color: #08387f;
}
#link2,
#link6 {
  background-color: #098cc4;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}
#link3 {
  background-color: #7ba734;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}
#link4 {
  background-color: #646263;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}
#link5 {
  background-color: #ec8d1f;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}
#link7 {
  border-bottom: 1px solid grey;
}
.box3-content {
  background-color: white;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  height: 100%;
  width: 100%;
}
.box4 {
  grid-column-start: 5;
  grid-column-end: 7;
  background-color: rgb(208, 20, 20);
}

/* Mobile Phones */
@media only screen and (max-width: 576px) {
  .hide {
    display: none;
  }
  .top-bar {
    width: 100vw;
    margin: 0;
    padding: 0px;
    border-radius: 0 0 0 0;
    height: 5vh;
  }
  .top-bar ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  header {
    width: 100vw;
    margin: 0;
    grid-template-columns: 3fr 1fr;
    padding: 1vh 0 2vh 0;
  }
  header img {
    width: 100%;
  }
  .nav-bar {
    height: auto;
    width: 100vw;
    margin: 0;
  }
  .nav-bar ul {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: none;
  }
  .nav-bar li {
    list-style: none;
    padding: 10px;
    border-right: 0;
    border-bottom: 1px solid white;
  }
  marquee {
    height: 20px;
    width: 100vw;
    margin: 0;
  }
  .content {
    grid-template-columns: none;
    grid-template-rows: 0.6fr 1fr 1fr 1fr;
    width: 100vw;
    margin: 0;
    grid-gap: 0mm;
  }
  .box1 {
    grid-column-start: 1;
    grid-column-end: 1;
    background-size: 100% auto;
    height: auto;
  }
  .box2 {
    grid-column-start: 1;
    grid-column-end: 1;
    display: grid;
  }
  .box3 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .box4 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}

/* Tablets */
@media only screen and (max-width: 838px) and (min-width: 576px) {
  .hide-lvl1 {
    display: none;
  }
  .top-bar {
    width: 100vw;
    margin: 0;
    border-radius: 0 0 0 0;
  }
  .top-bar ul {
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 0.8fr 0.8fr 0.8fr 1.5fr 1fr 1fr;
  }
  header {
    width: 100vw;
    margin: 0;
    grid-template-columns: 3fr 1fr;
    padding: 1vh 0 2vh 0;
  }
  header img {
    width: 100%;
  }
  .nav-bar {
    height: auto;
    width: 100vw;
    margin: 0;
  }
  .nav-bar ul {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: none;
  }
  marquee {
    height: 20px;
    width: 90vw;
    margin: 0 5vw 0 5vw;
  }
  .content {
    width: 90vw;
    margin: 0 5vw 0 5vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 5fr;
  }
}

/* Small Laptops */
@media only screen and (max-width: 1200px) and (min-width: 838px) {
  .top-bar {
    width: 90vw;
    margin: 0 5vw 0 5vw;
  }

  header {
    width: 80vw;
    margin: 0 10vw 0 10vw;
  }
  .nav-bar {
    height: auto;
    width: 80vw;
    margin: 0 10vw 0 10vw;
  }
  marquee {
    height: 20px;
    width: 80vw;
    margin: 0 10vw 0 10vw;
  }
  .content {
    width: 80vw;
    margin: 0 10vw 0 10vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 5fr;
  }
}
